:root {
  --primary-colour:	#56e39f;
  --secondary-colour: #465775;
  --third-colour: #59C9A5;
  --fourth-colour: #EF6F6C;
  --primary-colour-opacity: rgba(86, 227, 159, 0.5);
  --third-colour-opacity: rgba(89, 201, 165, 0.5);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

img {
  max-width: 100%;
}

a {
  color: #fff;
  text-decoration: none;
}

a:not(:last-child) {
  margin-right: 10px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  background-color: var(--secondary-colour);
  color: var(--primary-colour);  
}

header nav a {
  background: none;
  border: none;
  color: #fff;
  font-size: .95rem;
  cursor: pointer;
}

header nav a.active {
  text-decoration: underline;
}

.hero-banner{
  background-image: url("./assets/pexels-scott-webb-1029624.jpg");
  height: 200px;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: right;
  color: var(--secondary-colour);
}

.hero-banner h2 {
  margin-top: 100px;
  margin-right: 200px;
}

/* About section styling */
.about {
  display: grid;
  grid-template-columns: 20% 15% 65%;
  align-items: center;
  margin: 20px;
  color: var(--fourth-colour);
  font-size: large;
}

/* Contact section styling */
.contact {
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-areas: 
  "label-gr tel-gr" 
  "label-gr email-gr";
  align-items: center;
  margin: 20px;
  color: var(--fourth-colour);
}

.contact a {
  color: var(--fourth-colour);
  font-size: large;
}

#contact-label {
  grid-area: label-gr;
}

#contact-tel {
  grid-area: tel-gr
}

#contact-email {
  grid-area: email-gr;
}

.project-label {
  color: var(--secondary-colour);
  text-align: center;
}

.project-card {
  display: flex;
  flex-direction: column;
  justify-content:space-around;
  padding: 10px;
  color: var(--secondary-colour);
  background-color: var(--third-colour);
  border-radius: 5px;
}

.projects {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  margin: 15px;
}

/* MEDIA QUERIES */
@media (max-width: 768px) {
  .projects {
    grid-template-columns: repeat(2,1fr);
  }
}